{% load static extras %}
<header class="main-header-top hidden-print">
    <a href="{% url "dashboard" %}" class="logo"><img class="img-fluid able-logo" src="{% static 'assets/images/logo.png' %}" alt="Theme-logo"></a>
    <nav class="navbar navbar-static-top">
       <!-- Sidebar toggle button-->
       <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>
       <ul class="top-nav lft-nav">            
          <li class="dropdown pc-rheader-submenu message-notification search-toggle">
             <a href="#!" id="morphsearch-search" class="drop icon-circle txt-white">
                <i class="ti-search"></i>
             </a>
          </li>
       </ul>
       <!-- Navbar Right Menu-->
       <div class="navbar-custom-menu f-right">

          <ul class="top-nav">
             <!--Notification Menu-->
               
             <li class="dropdown notification-menu">
                <a href="#!" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                   <i class="icon-bell"></i>
                   <span class="badge badge-danger header-badge">{% total_messages user %}</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="not-head">You have <b class="text-primary"> {% total_messages user %} </b> new notifications.</li>
                   
                   {%  mess_notification request.user %}

                   {% comment %} {% endif %} {% endcomment %}
                   <li class="not-footer">
                      <span data-toggle="modal" data-target="#seemodal" style="cursor:cell;">See all notifications.</span>
                   </li>
                </ul>
             </li>
             <!-- chat dropdown -->
             <li class="pc-rheader-submenu ">
                <a href="#!" class="drop icon-circle displayChatbox">
                   <i class="icon-bubbles"></i>
                   <span class="badge badge-danger header-badge">5</span>
                </a>

             </li>
             <!-- window screen -->
             <li class="pc-rheader-submenu">
                <a href="#!" class="drop icon-circle" onclick="javascript:toggleFullScreen()">
                   <i class="icon-size-fullscreen"></i>
                </a>

             </li>
             <!-- User Menu-->
             <li class="dropdown">
                <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                   <span><img class="img-circle " src="{{request.user.images.url}}" style="width:40px;" alt="User Image"></span>
                   <span>{% if not request.user.get_full_name %} {{ request.user.username }} {% else %} {{ request.user.first_name }} {% endif %}<b>{{ request.user.last_name }}</b> <i class=" icofont icofont-simple-down"></i></span>

                </a>
                <ul class="dropdown-menu settings-menu">
                  <a href="{% url "home" %}">
                     <li>
                       <i class="icon-home"></i> 
                       <span> Home </span>
                     </li>
                     </a>

                   <a href="{% url "settings" %}">
                   <li>
                     <i class="icon-settings"></i> 
                     <span> Settings </span>
                   </li>
                   </a>

                   <a href="{% url "profile" %}">
                   <li>
                     <i class="icon-user"></i> 
                     <span> Profile </span>
                   </li>
                   </a>

                   <li><a href="#"><i class="icon-envelope-open"></i> My Messages</a></li>
                   <li class="p-0">
                      <div class="dropdown-divider m-0"></div>
                   </li>
                   {% if request.user.is_superuser %}
                     <li><a href="/admin"><i class="icon-lock"></i> Admin </a></li>
                  {% endif %}
                  <a href="{% url "logout" %}" style="text-decoration: none">
                     <li>
                     <i class="icon-logout"></i> 
                        <span> Logout </span>
                     </li>
                  </a>
                </ul>
             </li>
          </ul>

          <!-- search -->
          <div id="morphsearch" class="morphsearch">
             <form class="morphsearch-form">

                <input class="morphsearch-input" type="search" placeholder="Search..." />

                <button class="morphsearch-submit" type="submit">Search</button>

             </form>
             <div class="morphsearch-content">
                <div class="dummy-column">
                   <h2>People</h2>
                   <a class="dummy-media-object" href="#!">
                      <img class="round" src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G" alt="Sara Soueidan" />
                      <h3>Sara Soueidan</h3>
                   </a>

                   <a class="dummy-media-object" href="#!">
                      <img class="round" src="http://1.gravatar.com/avatar/9bc7250110c667cd35c0826059b81b75?s=50&d=identicon&r=G" alt="Shaun Dona" />
                      <h3>Shaun Dona</h3>
                   </a>
                </div>
                <div class="dummy-column">
                   <h2>Popular</h2>
                   <a class="dummy-media-object" href="#!">
                      <img src="{% static 'assets/images/avatar-1.png' %}" alt="PagePreloadingEffect" />
                      <h3>Page Preloading Effect</h3>
                   </a>

                   <a class="dummy-media-object" href="#!">
                      <img src="{% static 'assets/images/avatar-1.png' %}" alt="DraggableDualViewSlideshow" />
                      <h3>Draggable Dual-View Slideshow</h3>
                   </a>
                </div>
                <div class="dummy-column">
                   <h2>Recent</h2>
                   <a class="dummy-media-object" href="#!">
                      <img src="{% static 'assets/images/avatar-1.png' %}" alt="TooltipStylesInspiration" />
                      <h3>Tooltip Styles Inspiration</h3>
                   </a>
                   <a class="dummy-media-object" href="#!">
                      <img src="{% static 'assets/images/avatar-1.png' %}" alt="NotificationStyles" />
                      <h3>Notification Styles Inspiration</h3>
                   </a>
                </div>
             </div>
             <!-- /morphsearch-content -->
             <span class="morphsearch-close"><i class="icofont icofont-search-alt-1"></i></span>
          </div>
          <!-- search end -->
       </div>
    </nav>
 </header>