{% extends "components/base.html" %}

{% load static catalog %}

{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            {% category request %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End --> 

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'static2/img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ pro.category.name }} Package</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <a href="{% url "shop" %}?sub={{pro.subcat.name}}">{{ pro.subcat.name }}</a>
                            <a href="{% url "shop" %}?variant={{pro.category.name}}">{{ pro.brand.name }}</a>
                            <span>{{ pro.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad" style="margin-top: -50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{{pro.image.url}}" alt="">
                        </div>

                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ pro.name }}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">${{ pro.new_price }}</div>
                        <p> {{ pro.descriptions|safe }}</p>
                        <a href="{% url "cart_add" pro.pk %}" class="primary-btn">ADD TO CARD</a>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        
                        <div>
                            <p><b>Availability</b> <span>In Stock</span></p>
                            <p><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></p>
                            <!-- <li><b>Weight</b> <span>0.5 kg</span></li> -->
                            <p><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 text-center">
                        
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Reviews <span>{{pro.review_set.count}}</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Review</h6>
                                    <div class="row">
                                        <div class="col-sm-8">
                                        {% if pro.review_set.exists %}
                                            {% for review in pro.review_set.all  %}
                                                <span> {{ review.name }} </span>
                                                <p> {{ review.content|linebreaks}} </p>
                                            {% endfor %}
                                        {% else %}
                                            <p> {{pro.review_set.count}} review found </p>
                                        {% endif %}
                                        </div>
                                        <div class="col-sm-4">
                                            <form method="post" action="">
                                                {% csrf_token %}
                                                {% if user.is_authenticated %}
                                                <input type="hidden" id="product_id" value="{{ pro.id }}">
                                                    {% for fields in form  %}
                                                        {% comment %} {% if fields.label != "Name" %} {% endcomment %}
                                                            <label for="{{fields.label}}">{{ fields.label }} </label>
                                                            {{ fields}}
                                                    {% comment %} {% endif %} {% endcomment %}
                                                            
                                                    {% endfor %}
                                                    <div style="display: flex; justify-content: center">
                                                        <button class="btn btn-primary" id="mybtn" style="width: 90px"> send </button>
                                                    </div>
                                                {% else %}
                                                    {% for fields in form  %}
                                                        <label for="{{fields.label}}">{{ fields.label }} </label>
                                                        {{ fields}}
                                                    {% endfor %}
                                                    <div style="display: flex; justify-content: center">
                                                        <button class="btn btn-primary" style="width: 90px" id="mybtn"> submit </button>
                                                    </div>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                        Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                        sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                        eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                        sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                        diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                        Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                        Proin eget tortor risus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    {% if related_product %}
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for pros in related_product  %}
                    {% if pros != pro %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{pros.image.url}}">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="{% url "cart_add" pros.pk %}"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{% url "shop_details" pros.name %}">{{pros.name}}</a></h6>
                                <h5>${{ pros.new_price }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    <!-- Related Product Section End -->
{% endblock %}

{% block js %}
    <script src="{% static 'static2/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'static2/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'static2/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'static2/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'static2/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'static2/js/mixitup.min.js' %}"></script>
    <script src="{% static 'static2/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'static2/js/main.js' %}"></script>
    <script src="{% static "js/review.js" %}">  </script>
{% endblock %}
